* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDE6DD
}

/*HEADER*/

header {
    max-width: 1440px;
    height: 112px;
    padding: 40px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.container nav ul {
    list-style-type: none;
    display: flex;

}

.container nav ul li {
    margin-left: 40px;

}

.container nav ul li a {
    color: #1E1928;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}



/*MAIN*/

.family_box{
    padding-bottom: 196px;
    max-width: 1200px;
    min-height: 738px;
    justify-content: space-between;
    position: relative;
}

.text_part{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.article h1{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin: 80px 120px 0 120px;
    /*width: 512px;*/
    /*height: 116px;*/
}

.paragraph{
    /*padding-top: 24px;*/
}
.article h3{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
    margin: 24px 120px 0 120px;
}

.article p{
    max-width: 549px;
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    margin: 4px 120px 28px 120px;
}

/*Button with phone number*/


.form{
    height: 56px;
    border-radius: 9999px;
    background: #FFF;
    padding: 8px 12px;
    display: flex;
    max-width: 448px;
    justify-content: space-between;
    /*margin: 0 120px 96px 120px;*/
    margin-left: 120px;
}

.placeholder{
    width: 180px;
    border: none;
    background-color: transparent;
    padding: 10px 19px;
    color: rgba(30, 25, 40, 0.23);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

.button{
    width: 179px;
    height: 40px;
    border-radius: 9999px;
    border: none;
    background: #1E1928;
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 32px;
}

/*FAMILY*/

.family{
    max-width: 50%;
    position: absolute;
    display: inline-block;
    padding: 153px 128px 0 668px;

}
/*Orange box*/



.orange{
    /*height: 700px;*/
    padding-top: 270px;
    padding-bottom: 78px;
    background-color: #FFD394;
    background-image: url("../images/kvadrat.png");
    background-repeat: no-repeat;
    background-position: bottom -241px left 0;
    position: relative;
}

.orange div h2{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    /*padding: 80px 306px 372px 120px;*/
}

.orange div{
    /*margin: 80px 120px 80px 24px;*/
    max-width: 1200px;
    /*width: 100%;*/
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.orange ul{
    list-style: none;

}

.orange div ul li {
    position: relative;
}


.orange div ul li:before{
    content: "1";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background: #1E1928;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    margin-left: -64px;
}

.orange div ul li:nth-child(1):before {
    content: "1";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.252px;

}

.orange div ul li:nth-child(2):before {
    content: "2";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.252px;
}

.orange div ul li:nth-child(3):before {
    content: "3";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.252px;

}


.orange div ul li h4{
    color: #1E1928;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0.252px;
    /*margin-bottom: 10px;*/
}

.orange div ul li p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.176px;
    margin-top: 4px;
    /*margin-left: 64px;*/
}


.free_block{
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    padding: 80px 0;
    top: -190px;
    left: calc(50% - 600px);
}


.free_block article h2{
    color: #1E1928;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 40;
    line-height: 42px;

}

.free_block article p{
    margin: 28px 273px 20px 273px;
    color: rgba(30, 25, 40, 0.80);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.252px;"


}

.free_block article a{
    border-radius: 9999px;
    border: 1px solid #1E1928;
    width: 142px;
    height: 40px;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #1E1928;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 10px 33px;
    margin-top: 20px;
}

.third_block{
    min-height: 3480px;
    background: #F4EFE9;
    max-width: 100%;
    padding-top: 80px;
}

.option1{
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}


.option1 img{
    width: 600px;
    height: 600px;
}

.option1 article h4{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: right;
    margin-bottom: 28px;

}

.option1 article p{
    text-align: right;
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
}

.option2 {
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.option2 article h4{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin-bottom: 28px;

}

.option2 article p{
    text-align: left;
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
}


.option2 img{
    width: 600px;
    height: 600px;
}

.option3{
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.option3 h4{
    color: #1E1928;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 28px;
}

.option3 p{
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    padding-bottom: 24px;
}

.option3 img{
    width: 600px;
    height: 600px;
}



.option4 {
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.option4 article h4{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin-bottom: 28px;

}

.option4 article p{
    /*text-align: left;*/
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
}


.option4 img{
    width: 600px;
    height: 600px;
}



.option5{
    display: flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.option5 h4{
    color: #1E1928;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 28px;
}

.option5 p{
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    padding-bottom: 24px;
}

.option5 img{
    width: 600px;
    height: 600px;
}


.windows_block{
    min-height: 734px;
    width: 100%;

}
.clients{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
}

.clients a{
    max-height: 160px;
    display: inline-block;
}


.clients .owl-stage{
    display: flex;
    align-items: center;
}

.clients .owl-carousel .owl-items{
    text-align: center;
}

.windows_block h2{
    color: #1E1928;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
    margin-bottom: 80px;
    margin-top: 144px;
}

.library{
    border-radius: 9999px;
    border: 1px solid #1E1928;
    /*width: 168px;*/
    height: 40px;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #1E1928;
    text-decoration: none;
    padding: 10px 33px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}
/*.windows_block{*/
/*    min-height: 832px;*/
/*    max-width: 100%;*/
/*}*/
/*.windows_block h2{*/
/*    color: #1E1928;*/
/*    text-align: center;*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-size: 17px;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: 26px; !* 152.941% *!*/
/*    letter-spacing: 0.252px;*/
/*    margin-bottom: 80px;*/
/*    margin-top: 144px;*/
/*}*/
/*.windows_block div{*/
/*    display: flex;*/
/*    !*margin: auto;*!*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin-bottom: 80px;*/

/*}*/
/*.windows_block a{*/
/*    border-radius: 9999px;*/
/*    border: 1px solid #1E1928;*/
/*    height: 40px;*/
/*    flex-shrink: 0;*/
/*    text-align: center;*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-size: 14px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 20px;*/
/*    color: #1E1928;*/
/*    text-decoration: none;*/
/*    padding: 10px 33px;*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    width: fit-content;*/

/*}*/


.bordo{
    max-width: 1600px;
    height: 852px;
    background: #592141;
    padding-top: 288px;
    position: relative;
}

.bordo h4{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
}

.bordo h4:after{
    display:block;
    margin: auto;
    width: 41px;
    content:" “ ";
    color: #F4EFE9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    padding-top: 26px;
}


/*.bordo h4{*/
/*color: #F4EFE9;*/
/*text-align: center;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-size: 96px;*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*line-height: 96px; !* 100% *!*/
/*}*/

.bordo p{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 120% */
    margin-bottom: 32px;
}

h6{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.sec_block{
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    justify-content:center;
    align-items: center;
    margin: auto;
    padding: 80px 0;
    top: -190px;
    left: calc(50% - 600px);
}

.sec_block h3{
    color: #1E1928;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

.sec_block p{
    color: rgba(30, 25, 40, 0.80);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;

}


.faq{
    padding: 100px;
    background-color: #FFFFFF;
}

.faq h4{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-style: normal;
}

.faq p{
    color: black;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    padding: 5px;
    list-style: -moz-bengali;
}


.container_faq {
    max-width: 1200px;
    margin: 0 auto;
}

.faq .ui-accordion .ui-accordion-header{
    background-color: white;
    border: solid 1px black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 40px;
}

.faq .ui-accordion .ui-accordion-header.ui-state-active{
    color: black;
    background-color: #f8f3db;
    /*padding: 15px;*/
    /*margin-bottom: 20px;*/
    border-radius: 10px 10px 0 0;
    border-bottom: none;

}

.faq .ui-accordion .ui-accordion-content{
    background-color: #f8f3db;
    font-weight: normal;
    border-radius: 0 0 10px 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    /*margin-bottom: 20px;*/
}

.faq .ui-accordion .ui-accordion-header .ui-icon{
    background-image: none;
    position: absolute;
    right: 20px;
    width: 50px;
    top: 50%;
}


.faq .ui-accordion .ui-accordion-header .ui-icon:after{
    display: block;
    position: absolute;
    right: 10px;
    background-image: url("/images/arrowdown1.svg");
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}


.faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon:after{
    display:block;
    position: absolute;
    right: 10px;
    content: "";
    background-image: url("/images/arrowup1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}


