@charset "UTF-8";
body {
  background-color: #EDE6DD;
}

header {
  max-width: 1440px;
  height: 112px;
  padding: 40px 10px;
  margin: auto;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo_main {
  position: relative;
  z-index: 100;
}

.container nav ul {
  display: flex;
  list-style: none;
}

.container nav ul li a {
  color: #1E1928;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

.text_part {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 190px;
}

.article_text {
  max-width: 549px;
}
.article_text h1 {
  color: #1E1928;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}
.article_text h2 {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
  margin-bottom: 4px;
}
.article_text p {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
  margin-bottom: 28px;
}
.article_text h3 {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
}

.button {
  background-color: #1E1928;
  color: #F4EFE9;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #060509;
}

.orange {
  padding-top: 270px;
  padding-bottom: 78px;
  background-color: #FFD394;
  background-image: url("../images/kvadrat.png");
  background-repeat: no-repeat;
  background-position: bottom -241px left 0;
  position: relative;
}
.orange div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.orange div h2 {
  color: #1E1928;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}
.orange div ul {
  list-style: none;
}
.orange div ul li {
  position: relative;
}
.orange div ul li:before {
  content: "1";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background: #1E1928;
  line-height: 24px;
  text-align: center;
  justify-content: center;
  margin-left: -64px;
}
.orange div ul li:nth-child(1):before {
  content: "1";
  color: #EDE6DD;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.252px;
}
.orange div ul li:nth-child(2):before {
  content: "2";
  color: #EDE6DD;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.252px;
}
.orange div ul li:nth-child(3):before {
  content: "3";
  color: #EDE6DD;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.252px;
}
.orange div ul li h4 {
  color: #1E1928;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0.252px;
}
.orange div ul li p {
  color: rgba(30, 25, 40, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-top: 4px;
}

.third_block {
  min-height: 3480px;
  background: #F4EFE9;
  width: 100%;
  padding-top: 80px;
}
.third_block .option1,
.third_block .option2,
.third_block .option3,
.third_block .option4,
.third_block .option5 {
  display: flex;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.third_block .option1 img,
.third_block .option2 img,
.third_block .option3 img,
.third_block .option4 img,
.third_block .option5 img {
  width: 600px;
  height: 600px;
}
.third_block .option1 article h2,
.third_block .option2 article h2,
.third_block .option3 article h2,
.third_block .option4 article h2,
.third_block .option5 article h2 {
  color: #1E1928;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-align: right;
  margin-bottom: 28px;
}
.third_block .option1 article p,
.third_block .option2 article p,
.third_block .option3 article p,
.third_block .option4 article p,
.third_block .option5 article p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.third_block .option2 article h2,
.third_block .option4 article h2 {
  text-align: left;
}
.third_block .option5 h2 {
  text-align: right;
}
.third_block .bordo {
  width: 100%;
  height: 852px;
  background: #592141;
  padding-top: 288px;
  position: relative;
}
.third_block .bordo h4 {
  color: #F4EFE9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.third_block .bordo h4:after {
  display: block;
  width: 41px;
  margin: auto;
  content: "“";
  color: #F4EFE9;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  padding-top: 26px;
}
.third_block .bordo h5 {
  color: #F4EFE9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.third_block .bordo p {
  color: #F4EFE9;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 32px;
}
.third_block .bordo article h3 {
  color: #1E1928;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  padding-bottom: 28px;
}
.third_block .bordo article p {
  font-family: "Inter", sans-serif;
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}

.windows_block {
  min-height: 734px;
  width: 100%;
}
.windows_block .clients {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: center;
}
.windows_block .clients a {
  max-width: 160px;
  display: inline-block;
}
.windows_block .clients .owl-stage {
  display: flex;
  align-items: center;
}
.windows_block .clients .owl-carousel .owl-items {
  text-align: center;
}
.windows_block h2 {
  color: #1E1928;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  margin-bottom: 80px;
  margin-top: 144px;
}
.windows_block .library {
  border-radius: 9999px;
  border: 1px solid #1E1928;
  height: 40px;
  flex-shrink: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #1E1928;
  text-decoration: none;
  padding: 10px 33px;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.windows_block {
  min-height: 734px;
  width: 100%;
}
.windows_block .sad_pictures {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: center;
}
.windows_block .sad_pictures a {
  max-width: 160px;
  display: inline-block;
}
.windows_block .sad_pictures .owl-stage {
  display: flex;
  align-items: center;
}
.windows_block .sad_pictures .owl-carousel .owl-items {
  text-align: center;
}
.windows_block h2 {
  color: #1E1928;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  margin-bottom: 80px;
  margin-top: 144px;
}
.windows_block .library {
  border-radius: 9999px;
  border: 1px solid #1E1928;
  height: 40px;
  flex-shrink: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #1E1928;
  text-decoration: none;
  padding: 10px 33px;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.bordo {
  width: 100%;
  height: 852px;
  background: #592141;
  padding-top: 288px;
  position: relative;
}
.bordo h4 {
  color: #F4EFE9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.bordo h4:after {
  display: block;
  width: 41px;
  margin: auto;
  content: "“";
  color: #F4EFE9;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  padding-top: 26px;
}
.bordo h5 {
  color: #F4EFE9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bordo p {
  color: #F4EFE9;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 32px;
}

.sec_block {
  border-radius: 8px;
  background: #FFF;
  position: absolute;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 80px 0;
  top: -190px;
  left: calc(50% - 600px);
}
.sec_block article h3 {
  color: #1E1928;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  padding-bottom: 28px;
}
.sec_block article p {
  font-family: "Inter", sans-serif;
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}

/*# sourceMappingURL=style_preproc.css.map */
